/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой YES
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: "wght" 400;
  width: 375px;
  height: 7443px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  justify-self: center;
  background-position-x: center;
}

.header {
  display: block;
  height: 327px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.header_box {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid #000;
}

.header_title1 {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 49px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-transform: uppercase;
}

.header_title2 {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.post {
  border: 2.5px solid #000;
  overflow: hidden;
  background-color: white;
}

.post_image {
  position: relative;
  left: -2px;
  display: block;
  object-fit: cover;
  width: 375px;
  height: 375px;
}

.post_title {
  font-family: var(--font-family-main), sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 119%;
  letter-spacing: 0.45px;
  display: block;
  margin: 4px 10px 5px 10px;
}

p {
  font-family: var(--font-family-main), sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
}

.content {
  display: flex;
  gap: 27px;
  margin: 25px 27px;
  margin-left: 24px;
  flex-direction: column;
}

.like {
  display: flex;
  width: 169px;
  height: 38px;
  gap: 12px;
  margin-left: 177px;
  margin-bottom: 25px;
}

.card__like-button {
  width: 130px;
  height: 38px;
  background-color: transparent;
  border: 2px solid #000;
  animation: sparks-opacity;
}

.like-icon {
  align-self: center;
  height: 24px;
  animation: heart-scale;
}

.like-like-icon {
  background: transparent;
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  transition: border-color 0.3s ease;
  animation: heart-scale;
}

h5 {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0%;
}

main {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.flop {
  margin-top: 12px;
  margin-bottom: 12px;
  height: 28px;
}

.footer_but {
  width: 306px;
  height: 80px;
  border: 2px solid #000;
  background-color: transparent;
  margin: 50px 34px 102px 35px;
  display: flex;
  flex-direction: column;
}

.footer_title {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.dialog {
  width: 375px;
  height: 667px;
  border: 0px solid;
}

.from {
  display: flex;
  justify-self: center;
  align-self: center;
}

.flop2 {
  margin-top: 12px;
  margin-bottom: 12px;
  height: 38px;
  justify-self: center;
  align-self: center;
}

.footer_title2 {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
  margin-left: 20px;
}

.fot_but {
  width: 257px;
  height: 38px;
  padding-top: 9px;
  padding-right: 17px;
  padding-bottom: 9px;
  padding-left: 17px;
  gap: 10px;
  border-width: 2px;
  background: transparent;
}

.button__text {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.post_image1 {
  filter: sepia(0.1);
}

.post_image7 {
  filter: brightness(100%) contrast(100%) hue-rotate(0.1deg);
}

.post_image8 {
  filter: brightness(1) contrast(100%);
}

.post_image2 {
  filter: saturate(1%);
}

.post_image3 {
  filter: contrast(100%);
}

.post_image4 {
  filter: invert(0.1);
}

.post_image5 {
  filter: grayscale(0.1);
}

.post_image6 {
  filter: hue-rotate(0.1deg);
}
